/* action classes */
.translate_left {
  transform: translate(-40px, 0px);
}
.translate_right {
  transform: translate(40px, 0px);
}
.translate_up {
  transform: translate(0px, -40px);
}
.translate_down {
  transform: translate(0px, 40px);
}
.scale_half {
  transform: scale(0.5, 0.5);
}
.scale_double {
  transform: scale(2, 2);
}
.half_opacity {
  opacity: 0.5;
}

$rotates: 0deg, 270deg, 90deg, 180deg;
$h_translates: none left right;
$v_translates: none up down;
$scales: none half double;

@each $rotate in $rotates {
  .rotate_#{$rotate} {
    transform: rotate(#{$rotate});
  }
}
