@import 'colors';

/* positioning and dimensioning variables */
$common_spacing: 5px;
$area-width: 550px;
$area-height: 600px;
$area-width-half: $area-width / 2;
$area-height-little: 50px;
$area-height-most: $area-height - $area-height-little;

/* mixins */
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin vertically_align() {
  vertical-align: middle;
  display: inline-block;
}

@mixin lol_no_list_styling_please() {
  list-style-type: none;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

/* Helper classes */
.nice_control {
  font-size: 1em;
  @include border-radius(8px);
  border-width: 1px;
  border-style: solid;
  @include palette-gray;
  &:hover {
    @include palette-light_gray;
  }
  &:active {
    @include palette-dark_gray;
  }
}

.nice_control-red {
  @extend .nice_control;
  @include palette-red;
  &:hover {
    @include palette-light_red;
  }
  &:active {
    @include palette-dark_red;
  }
}

.nice_control-green {
  @extend .nice_control;
  @include palette-green;
  &:hover {
    @include palette-light_green;
  }
  &:active {
    @include palette-dark_green;
  }
}

.nice_control-blue {
  @extend .nice_control;
  @include palette-blue;
  &:hover {
    @include palette-light_blue;
  }
  &:active {
    @include palette-dark_blue;
  }
}

.nice_control-pink {
  @extend .nice_control;
  @include palette-pink;
  &:hover {
    @include palette-light_pink;
  }
  &:active {
    @include palette-dark_pink;
  }
}

.alignment-helper {
  @include vertically_align;
  height: 100%;
}

/* Actual app styling */

body {
  font-family: 'arial';
}

.image_area, .actions_area {
  float: left;
  width: $area-width;
  height: $area-height;
  overflow: hidden;
}

.image_area {
  border: 1px solid black;
  .image_area-window {
    height: $area-height-most;
    text-align: center;
    img {
      @include vertically_align;
    }
  }
  .image_area-upload {
    height: $area-height-little;
  }
}

.actions_area {
  border: 1px solid red;
  .reset_actions {
    height: $area-height-little;
    text-align: center;
    .button_reset {
      @include vertically_align;
      @extend .nice_control;
    }
  }
  .actions_lists {
    .actions_lists_half {
      float: left;
      width: $area-width-half;
      text-align: center;
      h3 {
        margin-top: $common_spacing;
        margin-bottom: $common_spacing;
        text-decoration: underline;
      }
      ul {
        @include lol_no_list_styling_please;
        padding: $common_spacing;
        width: $area-width-half - ($common_spacing * 2);

        li {
          @extend .nice_control;
          margin: $common_spacing;
          padding: $common_spacing;
          &.rotate {
            @extend .nice_control-red;
          }
          &.translate-vertical {
            @extend .nice_control-green;
          }
          &.translate-horizontal {
            @extend .nice_control-blue;
          }
          &.scale {
            @extend .nice_control-pink;
          }
        }
      }
    }
  }
}

/* action classes */
.rotate_right {
  transform: rotate(90deg);
}
.rotate_left {
  transform: rotate(270deg);
}
.rotate_180 {
  transform: rotate(180deg);
}
.translate_left {
  transform: translate(-40px, 0px);
}
.translate_right {
  transform: translate(40px, 0px);
}
.translate_up {
  transform: translate(0px, -40px);
}
.translate_down {
  transform: translate(0px, 40px);
}
.translate_left.translate_up {
  transform: translate(-40px, -40px);
}
.translate_right.translate_up {
  transform: translate(40px, -40px);
}
.translate_left.translate_down {
  transform: translate(-40px, 40px);
}
.translate_right.translate_down {
  transform: translate(40px, 40px);
}
.scale_half {
  transform: scale(0.5, 0.5);
}
.scale_double {
  transform: scale(2, 2);
}
.half_opacity {
  opacity: 0.5;
}
