/* color variables */
$border-green: #8D8;
$background-green: #DFD;
$foreground-green: #6B6;

/* positioning and dimensioning variables */
$common_spacing: 5px;
$area-width: 550px;
$area-height: 600px;
$area-width-half: $area-width / 2;
$area-height-little: 50px;
$area-height-most: $area-height - $area-height-little;

.image_area, .actions_area {
  float: left;
  width: $area-width;
  height: $area-height;
  overflow: hidden;
}

.image_area {
  border: 1px solid black;
  .image_area-window {
    height: $area-height-most;
    line-height: 100%;
    text-align: center;
    .alignment-helper {
      vertical-align: middle;
      display: inline-block;
      height: 100%;
    }
    img {
      vertical-align: middle;
      display: inline-block;
    }
  }
  .image_area-upload {
    height: $area-height-little;
  }
}

.actions_area {
  border: 1px solid red;
  .reset_actions {
    .button_reset {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .actions_lists {
    .actions_lists_half {
      float: left;
      width: $area-width-half;

      ul {
        padding: $common_spacing;
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;
        width: $area-width-half - ($common_spacing * 2);

        li {
          list-style-type: none;
          background-color: $background-green;
          color: $foreground-green;
          border: 1px solid $border-green;
          margin: $common_spacing;
          padding: $common_spacing;
          text-align: center;
        }
      }
    }
  }

}

/* action classes */
.rotate_right {
  transform: rotate(90deg);
}
.rotate_left {
  transform: rotate(270deg);
}
.rotate_180 {
  transform: rotate(180deg);
}
.translate_left {
  transform: translate(-40px, 0px);
}
.translate_right {
  transform: translate(40px, 0px);
}
.translate_up {
  transform: translate(0px, -40px);
}
.translate_down {
  transform: translate(0px, 40px);
}
.translate_left.translate_up {
  transform: translate(-40px, -40px);
}
.translate_right.translate_up {
  transform: translate(40px, -40px);
}
.translate_left.translate_down {
  transform: translate(-40px, 40px);
}
.translate_right.translate_down {
  transform: translate(40px, 40px);
}
.scale_half {
  transform: scale(0.5, 0.5);
}
.scale_double {
  transform: scale(2, 2);
}
.half_opacity {
  opacity: 0.5;
}
