/* color variables */
$border-gray: #888;
$background-gray: #DDD;
$foreground-gray: #666;

@mixin palette-gray {
  background-color: $background-gray;
  border-color: $border-gray;
  color: $foreground-gray;
};

$border-light_gray: #999;
$background-light_gray: #EEE;
$foreground-light_gray: #777;

@mixin palette-light_gray {
  background-color: $background-light_gray;
  border-color: $border-light_gray;
  color: $foreground-light_gray;
};

$border-dark_gray: #777;
$background-dark_gray: #CCC;
$foreground-dark_gray: #555;

@mixin palette-dark_gray {
  background-color: $background-dark-gray;
  border-color: $border-dark-gray;
  color: $foreground-dark-gray;
};

$border-red: #D88;
$background-red: #FDD;
$foreground-red: #866;

@mixin palette-red {
  background-color: $background-red;
  border-color: $border-red;
  color: $foreground-red;
};

$border-light_red: #E99;
$background-light_red: #FEE;
$foreground-light_red: #C77;

@mixin palette-light_red {
  background-color: $background-light_red;
  border-color: $border-light_red;
  color: $foreground-light_red;
};

$border-dark_red: #C77;
$background-dark_red: #ECC;
$foreground-dark_red: #A55;

@mixin palette-dark_red {
  background-color: $background-dark_red;
  border-color: $border-dark_red;
  color: $foreground-dark_red;
};

$border-green: #8D8;
$background-green: #DFD;
$foreground-green: #686;

@mixin palette-green {
  background-color: $background-green;
  border-color: $border-green;
  color: $foreground-green;
};

$border-light_green: #9E9;
$background-light_green: #EFE;
$foreground-light_green: #7C7;

@mixin palette-light_green {
  background-color: $background-light_green;
  border-color: $border-light_green;
  color: $foreground-light_green;
};

$border-dark_green: #7C7;
$background-dark_green: #CEC;
$foreground-dark_green: #5A5;

@mixin palette-dark_green {
  background-color: $background-dark_green;
  border-color: $border-dark_green;
  color: $foreground-dark_green;
};

$border-blue: #88D;
$background-blue: #DDF;
$foreground-blue: #668;

@mixin palette-blue {
  background-color: $background-blue;
  border-color: $border-blue;
  color: $foreground-blue;
};

$border-light_blue: #99E;
$background-light_blue: #EEF;
$foreground-light_blue: #77C;

@mixin palette-light_blue {
  background-color: $background-light_blue;
  border-color: $border-light_blue;
  color: $foreground-light_blue;
};

$border-dark_blue: #77C;
$background-dark_blue: #CCE;
$foreground-dark_blue: #AA5;

@mixin palette-dark_blue {
  background-color: $background-dark_blue;
  border-color: $border-dark_blue;
  color: $foreground-dark_blue;
};

$border-pink: #D8D;
$background-pink: #FDF;
$foreground-pink: #868;

@mixin palette-pink {
  background-color: $background-pink;
  border-color: $border-pink;
  color: $foreground-pink;
};

$border-light_pink: #E9E;
$background-light_pink: #FEF;
$foreground-light_pink: #C7C;

@mixin palette-light_pink {
  background-color: $background-light_pink;
  border-color: $border-light_pink;
  color: $foreground-light_pink;
};

$border-dark_pink: #C7C;
$background-dark_pink: #ECE;
$foreground-dark_pink: #5A5;

@mixin palette-dark_pink {
  background-color: $background-dark_pink;
  border-color: $border-dark_pink;
  color: $foreground-dark_pink;
};
